.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*default row */
}

div [class^="box"] {
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    background-color: lightblue;
}