.container {
    display: flex;
    width: 90%;
    height: 500px;
    border: 1px solid black;

    /* horizondal */

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;

    /* vertical */

    align-items: start;
    align-items: center;
    align-items: end;
    /* align-items: stretch; */

}

div[class^="box"] {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    background-color: lightblue;
    border: 1px solid black;
}