.blue-background {
    background-color: rgb(160, 160, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.login-card {
    background-color: white;
    padding: 60px;
    border-radius: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
input {
   padding: 10px; 
   width: 100%;             
    box-sizing: border-box;   
    border: 1px solid #ccc; 
}
button {
    background-color: rgb(160, 160, 223);
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    border: none;

}
.lost-password {
    margin-top: 30px;
    

}
.signup-text {
    color: white;
}
 .sign-link {
    color: white;
 }