.cod-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 2rem;
    
    font-weight:700; /* 100 -400 normal - bold 900*/

    text-shadow: 2px 2px 2px rgba(0,0,0 , 0.5) ;

    text-align: center;

}

.cod-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem; /* default browser, 16*/
    font-weight: 400; /* normal */
    line-height: 1.5; /*readability*/
    color: rgb(21,5, 120);
}