/* Priority Order / Specificity
   !important > Inline > ID > Class > General
   
*/

#cfText {
    color: green;
}

.cf-text {
    color: brown!important;
}

p {
    color: red;
}

p {
    color: blue;
}