*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row {
    margin-bottom: 10px;
}

label {
    display: inline-block ;
    width: 80px;
}

.input-item {
    width: 200px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}

.input-item:focus{
    outline: none;
}

[type="submit"] {
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px 80px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: blue;
}

[type="submit"]:hover {
    color: blue;
    background-color: white;
}

h1::after {
    content: '\2764\FE0F';
    margin-left: 20px ;
}