/* body {
    background-color: red;
    color: blue;
} */

/* @media all {
    body {
        background-color: orange;
        color: blue;
    }
} */

/* 0-992px */
@media (min-width:992px) {
    body {
        background-color: green;
    }
}

/* 992px ++ */
@media (max-width:992px) {
    body {
        background-color:yellow ;
    }
}